<mat-toolbar color="primary">
  <span>Daily Standup Logger</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/standup">Standup</a>
  <a mat-button routerLink="/standup/summary">Weekly Summary</a>
  <a *ngIf="showLogout" mat-button (click)="auth.logout()">Logout</a>
  <a *ngIf="!showLogout && !router.url.includes('/login')" mat-button routerLink="/login">Login</a>
  <a *ngIf="!showLogout && !router.url.includes('/register')" mat-button routerLink="/login/register">Register</a>
</mat-toolbar>
<router-outlet></router-outlet>
